<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YadliTechnology.PAWSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <YadliTechnology.PAWSetting>
            <setting name="menu_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dial_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="joy_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mon_mode" serializeAs="String">
                <value>0</value>
            </setting>
        </YadliTechnology.PAWSetting>
    </userSettings>
</configuration>